name: ci

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    container: hadolint/hadolint:latest
    steps:
    - uses: actions/checkout@v2
    - name: Run hadolint
      run: hadolint
        Dockerfile.base
        Dockerfile.docker
        Dockerfile.synapse
        Dockerfile.user

  test:
    needs: [lint]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Validate docker-compose.yml
      run: docker-compose -f docker-compose.yml config

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set variables
        id: vars
        run: |
          echo ::set-output \
            name=repository::tschaffter/${{ github.event.repository.name }}
          echo ::set-output name=user::tschaffter
          echo ::set-output name=version::${GITHUB_REF#refs/tags/}

      - name: Build Dockerfile.base
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ steps.vars.outputs.repository }}
          tags: base-latest, base-${{ steps.vars.outputs.version }}
          dockerfile: Dockerfile.base
          build_args: "version=${{ steps.vars.outputs.version }}"

      - name: Build Dockerfile.user
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ steps.vars.outputs.repository }}
          tags: user-latest, user-${{ steps.vars.outputs.version }}
          dockerfile: Dockerfile.user
          build_args: "user=${{ steps.vars.outputs.user }},\
            version=${{ steps.vars.outputs.version }}"

      - name: Build Dockerfile.docker
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ steps.vars.outputs.repository }}
          tags: docker-latest, docker-${{ steps.vars.outputs.version }}
          dockerfile: Dockerfile.docker
          build_args: "user=${{ steps.vars.outputs.user }},\
            version=${{ steps.vars.outputs.version }}"

      - name: Build Dockerfile.python
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ steps.vars.outputs.repository }}
          tags: python-latest, python-${{ steps.vars.outputs.version }}
          dockerfile: Dockerfile.python
          build_args: "user=${{ steps.vars.outputs.user }},\
            version=${{ steps.vars.outputs.version }}"

      - name: Build Dockerfile.synapse
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ steps.vars.outputs.repository }}
          tags: synapse-latest, synapse-${{ steps.vars.outputs.version }}
          dockerfile: Dockerfile.synapse
          build_args: "version=${{ steps.vars.outputs.version }}"

      - name: Push README to DockerHub
        uses: peter-evans/dockerhub-description@v2
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKERHUB_REPOSITORY: ${{ steps.vars.outputs.repository }}